@page "/mytodos"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")]

<PageTitle>My ToDos</PageTitle>

<h1>Please enter your social security number:</h1>
<input />
