@page "/testadmin"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")]
@attribute [StreamRendering]

@inject AuthenticationStateProvider _authenticationStateProvider;
@inject IServiceProvider _serviceProvider;

<PageTitle>TestAuthorization</PageTitle>

<h1>Authorization Test Page</h1>

@if (_isAdmin)
{
    <div>
        <h1>Hello, @_userName</h1>
        <h3>You are admin!</h3>
    </div>
}
else
{
    <div>
        <h1>Hello, @_userName</h1>
        <h3>You are not admin sadly.</h3>
    </div>
}

@code {
    private bool _isAuthenticated;
    private bool _isAdmin;
    private string _userName;

    protected override async Task OnInitializedAsync()
    {
        // Get Authentication State
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();

        // Get current user
        var user = authState.User;

        // Checks if user is ADMIN
        _isAdmin = user.IsInRole("ADMIN");

        // Set username
        _userName = user.Identity.Name;
    }
}
